@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}   

.wrapper-div {
    background-image: url(../img/sky.png);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    padding: 100px 0px 260px 0px;
    display: flex;
    flex-direction: column;
}